<%= image_tag @user.avatar.variant(:large), class: 'card-img-top mx-auto', style: "border-radius: 50%; max-width: 250px;", width: '100%', height: '100%', alt: 'Avatar' if @user.avatar.attached? %>
<h1><%= @user.username %></h1>
<%= @user.about %>
