<div id="chats">
  <% @chats.each do |chat| %>
    <%= link_to chat_path(chat.uid), class: 'text-decoration-none' do %>
      <div class="card card-check bg-secondary text-dark mb-3" style="--bs-bg-opacity: .1;">
        <div class="card-body">
          <h4><%= chat.name %></h4>
          <small>
            <strong><%= chat.anonymous? ? '???' : chat.from_username %></strong>
             to 
            <strong><%= chat.to_username %></strong>
          </small>
        </div>
      </div>
    <%end%>
  <%end%>
</div>
