<div class="card">
  <div class="card-header">
    <h3><%= @chat.name %></h3>
  </div>
  <div class="card-body" style="height: 15rem; overflow: scroll;">
    <% 30.times do %>
      <p>...</p>
    <%end%>
  </div>
  <div class="card-footer">
    <div class="input-group">
      <%= text_area_tag :message, nil, rows: 2, maxlength: 800, style: 'resize: none;', class: 'form-control' %>
      <button class="btn btn-primary">
        <i class="fa-solid fa-paper-plane"></i> Send
      </button>
    </div>
  </div>
</div>
