<div data-controller="chat" class="card">
  <%= hidden_field_tag :chat_uid, @chat.uid %>
  <div class="card-header">
    <h3><%= @chat.name %></h3>
  </div>
  <div class="card-body" style="height: 25rem; overflow: scroll;">
    
  </div>
  <div class="card-footer">
    <div class="input-group">
      <%= text_field_tag :message, nil, class: 'form-control' %>
      <button class="btn btn-primary">
        <i class="fa-solid fa-paper-plane"></i> Send
      </button>
    </div>
  </div>
</div>
