.btn-borderless {
  border: none;
  background-color: transparent;
}

.card-check::before {
  content: " ";
  background-color: $secondary;
  border-radius: 3px 0 0 3px;
  position: absolute;
  width: 5px;
  height: 100%;
}

.card-check--active::before {
  background-color: $primary;
}